<div class="content">
  <app-card title="Two-Step Verification" subtitle="We sent a verification code to your mobile.
     Enter the code from the mobile in the field below." url="/login" text="Didn't get the code?" cardText="Resend">
    <div class="input-line" [formGroup]="verificationForm">
      <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" appFocus [appAutoTab]="input2">
      <input #input2 type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" [appAutoTab]="input3">
      <input #input3 type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" style="margin-right: 20px;"
        [appAutoTab]="input4">
      <input #input4 type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" [appAutoTab]="input5">
      <input #input5 type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" [appAutoTab]="input6">
      <input #input6 type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*">
    </div>
    <button (click)="do()">Verify my account</button>
  </app-card>
</div>